{
  "presets":[[
    "@babel/preset-env",
    {
      "useBuiltIns": "entry",
      "corejs":2
    }
  ],"@babel/preset-react","@babel/preset-typescript"],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@emotion",
      {
        // sourceMap is on by default but source maps are dead code eliminated in production
        "sourceMap": true,
        "autoLabel": "dev-only",
        "labelFormat": "[local]",
        "cssPropOptimization": true
      }
    ],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel",
    [
      "import", 
      {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "mode": "wrap",
            "ignoreFilenames": [
              "node_modules"
            ]
          }
        ]
      ]
    }
  }
}